[submodule "external/SEAL"]
	path = external/SEAL
	url = https://github.com/microsoft/SEAL.git
[submodule "external/openfhe-development"]
	path = external/openfhe-development
	url = https://github.com/openfheorg/openfhe-development.git
